<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <meta name="author" content="GOMSU GAETANT">
    <meta name="description" content="mon site web portfolio pour me présenter en ligne.">
    <meta name="keywords" content="site web portfolio gaetant gomsu développement application mobile logiciel">
    <title>GOMSU GAETANT</title>
    <meta name="theme-color" content="#96bce2">

    <!-- importation des ressources css -->

    <link rel="stylesheet" href="/assets/libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    
    <div id="up"></div>

    <!-- block de navigation -->
    <nav class="nav-block">
        <div class="app-bg-p p-2">
            <div class="app-container">
                <div class="justify-content-between align-items-baseline" style="display:flex; max-width: 100%; overflow:auto"> 
                    <div>
                        <a href="/index.html" title="page d'accueil" class="btn btn-light m-1 pt-1 pb-1 app-w-max-content">
                            <img src="/assets/icones/essential/svg/home.svg" alt="" width="20" height="20">&nbsp;
                            Accueil
                        </a>
                    </div>
                    
                    <div style="display:flex; max-width: 100%; overflow:auto;margin-left:20px;padding-left:0;padding-bottom:1px">
                        <a href="/views/about.html" title="me contacter" class="btn btn-light m-1 pt-1 pb-1 app-w-max-content">
                            A propos
                        </a>
        
                        <a href="/views/contact.html" title="me contacter" class="btn btn-light m-1 pt-1 pb-1 app-w-max-content">
                            Contact
                        </a>
    
                        <a href="/views/services.html" title="me contacter" class="btn btn-light m-1 pt-1 pb-1 app-w-max-content">
                            Services
                        </a>
    
                        <a href="/views/realisations.html" title="me contacter" class="btn btn-light m-1 pt-1 pb-1 app-w-max-content">
                            Réalisations
                        </a>
    
                        <a href="/views/blog/index.html" title="me contacter" class="btn btn-light m-1 pt-1 pb-1 app-w-max-content">
                            Blog
                        </a>
                    </div>
                </div>
            </div>
        </div>            
    </nav>

      <!-- block du corps de la page -->

    <div class="p-2 app-container">
        Totos
    </div>


    <!-- block du pied de page -->

    <footer class="app-bg-2 text-light p-4" style="min-height: 100vh;">
        <div class="app-container">
            <div class="text-center p-2">
                &copy; <span id="date-year">2021</span> 
                <a href="mailto:gg.gomsugaetant@gmail.com">
                    gg.gomsugaetant@gmail.com
                </a>
            </div>

            <div class="p-2 text-center">
                <a href="tel:+237696490559">+237 6 96 49 05 59</a><br>
                <a href="tel:+237696490559">+237 6 72 86 99 20</a>
            </div>

            <div class="text-center app-fs-3 mt-3">
                <address title="Cameroun | ayéné youndé, centre">
                    <span class="bg-white p-2 text-dark">
                        <img src="/assets/icones/essential/svg/placeholder.svg" alt="" width="16">
                        Cameroun | ayéné bar, yaoundé région du centre 
                    </span>
                </address>
            </div>
        </div>

        <div style="height:150px"></div>

    </footer>

    <div style="position: fixed;bottom:0;z-index:20;width:100%" class="app-bg-1 p-2">
        <div class="app-container">
            <div class="justify-content-between align-items-baseline" style="display: flex;">
                <div class="app-w-max-content app-fs-3 text-dark">
                    Suivez moi
                </div>
                <div style="display:flex; max-width: 100%; overflow:auto;margin-left:20px;margin-right:20px;padding-bottom:1px">
                    <a href="http://byt3l4b.ml" target="_blank" class="btn btn-light p-1 m-1 app-w-max-content app-fs-2">
                        Bytelab
                    </a>

                    <a href="http://fb.com/byt3l4" target="_blank" class="btn btn-light p-1 m-1 app-w-max-content app-fs-2">
                        Facebook
                    </a>
        
                    <a href="" target="_blank" class="btn btn-light p-1 m-1 app-w-max-content app-fs-2">
                        Twitter
                    </a>
        
                    <a href="" target="_blank" class="btn btn-light p-1 m-1 app-w-max-content app-fs-2">
                        Github
                    </a>
        
                    <a href="" target="_blank" class="btn btn-light p-1 m-1 app-w-max-content app-fs-2">
                        Linkedin
                    </a>
        
                    <a href="" target="_blank" class="btn btn-light p-1 m-1 app-w-max-content app-fs-2">
                        Youtube
                    </a>
                </div>

                <div>
                    <a href="#up" class="btn btn-dark p-1 m-1 app-w-max-content app-fs-2">Back up</a>
                </div>
            </div>
        </div>
    </div>

    <!-- fin du block de pied de page -->


    <!-- importations des ressources javascript -->

    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>